* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .8rem;
}

nav ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;

}

nav ul li {
    padding: .6rem;
}

nav ul li a {
    text-decoration: none;
    color:black;
}

.login-signupBtn,
.logoutBtn{
    padding: .4rem;
    cursor: pointer;
    background:blue;
    color:white;
    border-radius:.4rem;
    transition: all .3s linear;
}

.login-signupBtn a, .logoutBtn a{
    color:white;
    text-decoration:none;
}

.login-signupBtn:hover {
    background: black;
    color: white;
}
.logoutBtn:hover {
    background: black;
    color: white;
}

.main{
    display:flex;
    justify-content:center;
    align-items:center;
    height:50vh;
    flex-direction:column;
}

.main h1{
    text-align:center;
}